@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    font-family: Amatic SC;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo{
    position: absolute;
    top: 0%;
    left: 13%;
    width: 250px;
    height: 350px;
    background: #282828;
    transition: .3s linear;
}

header .logo h1 {
    color: #fff;
    text-align: center;
    margin-top: 5px;
    font-size: 25px;
    font-weight: 600;
}

header .logo img {
   width: 300px;
   margin: 20px 0px 0px -30px;
   filter: drop-shadow(0px 0px 20px rgb(0,0,0 ,6));
}

header{
    position: relative;
    width: 80%;
    height: 80%;
    background: #fff;
    box-shadow: 0px 0px 50px -1px rgba(0, 0, 0, 0.5);
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

header nav .menu {
    font-size: 25px;
    color: #000;
}

header nav .right_menu {
    display: flex;
    align-items: center;
}

header nav .right_menu ul {
    list-style-type:none;
    display: flex;
    align-items: center;
    margin-right: 12px;
} 


header nav .right_menu ul li {
   padding: 3px 5px;
}

header nav .right_menu ul li a {
    position: relative;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    transition: .3s linear;
    }

header nav .right_menu ul li a::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    background: #dc1313;
    border-radius: 50%;
    bottom: -5px;
    left:45%;
    opacity: 0;
    transition: .3s linear;
    }

header nav .right_menu ul li a:hover::before {
    opacity: 1;
    }

header nav .right_menu ul li a:hover {
    color: #dc1313;
    }

header nav .right_menu .user_cart{
    margin-left: -5px;
    display: flex;
    align-items: center;
    } 

header nav .right_menu .user_cart .user{
    position: relative;
    width:17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 10px;

    } 


header nav .right_menu .user_cart .user img{
    width: 100%;
    }


header nav .right_menu .user_cart .user::before{
    content: '';
    position: absolute;
    width:5px;
    height: 5px;
    background: #dc1313;
    border-radius: 50%;
    top: 0;
    right:0;
    z-index: 9999;
    }

header nav{
    width: 100%;
    height: 10%;
    /*border: 1px solid #000;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left_menu{
    width: 30px;
    height: 90%;
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

header .left_menu a {
    margin: 30px 0px;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 600;
    transition: .3s linear;
    transform: rotate(-90deg);
    
}

header .left_menu a:hover {
    color: #dc1313;
}

header section {
    width: 98%;
    height: 90%;
   /* border: 1px solid greenyellow;*/
}

header section .content {
   position:relative;
   left: 370px;
   margin-top: -390px;
   display: flex;
   /*align-items: center;
   justify-content: flex-start;*/
   flex-direction: column;
   transition: .1s linear;
}

header section .content h1{
    font-size: 50px;
    transition: .1s linear;
    margin-left: 45px;
    margin-top: -20px;
}


header section .content p{
    font-size: 15px;
    font-weight: 400;
    width: 290px;
    word-break: break-all;

}

header section .content .price_order{
   display: flex;
   align-items: center;
   margin-top: 10px;

}

header section .content .price_order .price h2{
   font-size: 23px;
   color: #dc1313;
   line-height: 18px;
    
}

header section .content .price_order .price p{
    font-size: 11px;
    width: 50px;
    /*border: 1px solid #000;*/
}

header section .content .price_order a{
    padding: 4px 20px;
    background: #121213;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 35px;
}

header section .cards{
    width: 90%;
    height: 130px;
   /* border: 1px solid #000;*/
    margin-left: 33px;
    position: relative;
    top: 20%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    transition: .1s linear;
}

header section .cards::-webkit-scrollbar{
    display: none;
   
}

header section .cards .card{
    position: relative;
    min-width: 125px;
    min-height: 125px;
    border: 1px solid #000;
    margin-right: 13px;
    background: #282828;
    border-radius: 50px 10px 10px 10px;
   
}

header section .cards .card:nth-last-child(1){
    margin-right: 0px;
   
}

header section .cards .card .dis{
    width: 70px;
    position: relative;
    top:-5px;
    left:-5px;

}    
  
header section .cards .card .steam{
    width: 60px;
    height: 80px;
    position: absolute;
    top: -35px;
    left: -5px;
}

header section .cards .card h4{
    position: absolute;
    top: 20px;
    right: 30px;
    color: #fff;
    font-size:18px;
    font-weight:600;
}

header section .cards .card h5{
    color: #fff;
    font-size:18px;
    font-family: 500;
    padding: 0px 10px;
    margin-top: -8px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header section .cards .card p{
    color: rgb(203, 203, 203);
    font-size:13px;
    font-weight: 500;
    padding: 0px 10px;
}

header section .cards .card .rate_cart {
    color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 2px 10px;
}

header section .cards .card .rate_cart h6{
    font-size:15px;
}

header section .cards .card .rate_cart .bi{
    font-size:15px;
}

header section .social {
    position: relative;
    width: 100%;
   /* border: 1px solid #000;*/
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s linear;
}

header section .social .btns{
    margin-left: 65px;

}

header section .social .btns .bi{
    font-size: 13px;
    cursor: pointer;
    transition: .3s linear;
}

header section .social .btns .bi:hover{
    color: rgba(0, 0, 0, 0.5);
}

header section .social .icons{
    display: flex;
    align-items: center;
    gap: 5px;
}

header section .social .icons .icon a {
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}

header section .social .icons .icon a:hover {
    color: rgb(18, 18, 100);
}

header section .social .icons .icon1 a {
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}

header section .social .icons .icon1 a:hover {
    color: rgb(151, 23, 134);
}

header section .social .icons .icon2 a {
    font-size: 18px;
    margin-left: 10px;
    color: #000;
}

header section .social .icons .icon2 a:hover {
    color: rgb(75, 144, 201);
}
